<!DOCTYPE html>
<html>
    <head>
        <script src="../mustache-bundle.js" async></script>
        <style>
            .hint:hover{
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div>
            <h1 class="title">
                Test Mustache Editor:
            </h1>
        </div>
        <div>
            <textarea name="mustache" rows="10" cols="100"></textarea>
        </div>
        <div>
            <button name="analyze">Analyze</button>
        </div>
        <div style="display: none; margin-top: 5em;">
            <span class="hint"></span>
        </div>
        <div style="display: none; margin-top: 5em;">
            <span class="messages"></span>
        </div>
    </body>
</html>

